<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="java.lang.Byte"
            class="zav.naninovel.core.adapter.ByteAdapterFactory">
         <adapter
               type="java.lang.String">
         </adapter>
      </factory>
      <factory
            adaptableType="java.lang.Boolean"
            class="zav.naninovel.core.adapter.BooleanAdapterFactory">
         <adapter
               type="java.lang.String">
         </adapter>
      </factory>
      <factory
            adaptableType="java.util.Date"
            class="zav.naninovel.core.adapter.DateAdapterFactory">
         <adapter
               type="java.lang.String">
         </adapter>
      </factory>
      <factory
            adaptableType="java.lang.Double"
            class="zav.naninovel.core.adapter.DoubleAdapterFactory">
         <adapter
               type="java.lang.String">
         </adapter>
      </factory>
      <factory
            adaptableType="java.lang.Short"
            class="zav.naninovel.core.adapter.ShortAdapterFactory">
         <adapter
               type="java.lang.String">
         </adapter>
      </factory>
      <factory
            adaptableType="java.lang.String"
            class="zav.naninovel.core.adapter.StringAdapterFactory">
         <adapter
               type="java.lang.Byte">
         </adapter>
         <adapter
               type="java.lang.String">
         </adapter>
         <adapter
               type="java.lang.Short">
         </adapter>
         <adapter
               type="java.lang.Integer">
         </adapter>
         <adapter
               type="java.lang.Long">
         </adapter>
         <adapter
               type="java.lang.Float">
         </adapter>
         <adapter
               type="java.lang.Double">
         </adapter>
         <adapter
               type="java.lang.Boolean">
         </adapter>
         <adapter
               type="java.util.Date">
         </adapter>
      </factory>
      <factory
            adaptableType="java.lang.Integer"
            class="zav.naninovel.core.adapter.IntegerAdapterFactory">
         <adapter
               type="java.lang.String">
         </adapter>
      </factory>
      <factory
            adaptableType="java.lang.Long"
            class="zav.naninovel.core.adapter.LongAdapterFactory">
         <adapter
               type="java.lang.String">
         </adapter>
      </factory>
      <factory
            adaptableType="java.lang.Float"
            class="zav.naninovel.core.adapter.FloatAdapterFactory">
         <adapter
               type="java.lang.String">
         </adapter>
      </factory>
   </extension>

</plugin>
